#FirstSection{
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888; 
}
.PersonalDiv{
    border-radius: 10px;
    padding: 30px;
}
#SecondSection{
    background: linear-gradient(to bottom, #4a93e1, white); 
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
}
#SpareTimeDiv{
    border-radius: 10px;
    padding: 30px;
}
#NameHeader{
    animation: slideInFromTop 1.5s forwards;
}

#portfolioSection{
    width: 60%;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888; 
    align-self: center;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.Texth1{
    font-size: 25px;
    font-family: 'Inter Black', sans-serif;
    color: #000000;
}
p{
    font-size: 18px;
    font-family: 'Inter Black', sans-serif;
    color: #000000;
}

.ProjectDiv {
    min-width: 350px;
    border-radius: 10px;
    width: 40%; 
    box-shadow: 3px 3px 3px 3px #888; 
    height: 600px; 
    justify-content: center; 
    display: grid;
    grid-template-rows: 20% 20% 30% 25%;
    padding: 15px;
}
.DescriptionDiv{
    grid-row: 3;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.titleH1{
    grid-row: 1;
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-family: 'Inter Black', sans-serif;
    font-size: 30px;
}
.textdiv{
    color: white    ;
}
.TagDiv{
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 10px;
}
.Tag {
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 10px;
}
.Tag1{
    background-color: #7b0f9b;
}
.Tag2{
    background-color: #bb0d78;
}
.Tag3{
    background-color: #0cc4ed;
}
.Tag4{
  background-color: #360fd1;
}
.Tag5{
  background-color: #f15f74;
}
.Tag6{
  background-color: #12a74b;
}
.Tag7{
  background-color: #f15f74;
}
.Tag8{
  background-color: #c6a10d;
}
.Tag9{
    background-color: #29c60d;
  }

.bookproject{
    background-image: url(Images/bookapicover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.EventManager{
    background-image: url(Images/eventbackround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
svg:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

/*MEDIA QUERIES*/

@media (max-width: 550px) {
    .ProjectDiv {
        min-width: 300px;
        padding: 15px;
        height: auto; 
        margin: 0px; 
        grid-template-rows: 15% 10% 20% 40%;
        width: 80%;
    }
    .TagDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #FirstSection{
        min-width: 300px;
        padding: 10px;
        width: 60%;
        margin: 0px;
    }
    #portfolioSection{
        min-width: 300px;
        padding: 10px;
        width: 100%;
        margin: 0px, 0px;
    }
    .BiggerProjectsDiv{
        min-width: 300px;
        height: auto; 
        margin: 0px; 
        padding: 15px;
    }
    .DynamicDivspace{
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
    #SecondSection{
        min-width: 300px;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }
    #ThirdSection{
        min-width: 300px;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }	
    .stackDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px;    
    }
    .titleH1{
        font-size: 20px;
    }
    .Texth1{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    .TagDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        height: auto; 
    }
}

@media (max-width: 750px) {
    .ProjectDiv {
        min-width: 400px;
        padding: 10px;
        height: auto; 
        margin: 0px; 
        grid-template-rows: 15% 10% 20% 40%;
        width: 90%;
    }
    .TagDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #FirstSection{
        min-width: 500px;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }
    #PortfolioContent{
        width: 100%;
    }
    #portfolioSection{
        min-width: 500px;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }
    .BiggerProjectsDiv{
        min-width: 300px;
        height: auto; 
        margin: 0px; 
        padding: 15px;
    }
    .DynamicDivspace{
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
    #SecondSection{
        min-width: 500px;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }
    #ThirdSection{
        min-width: 300px;
        padding: 10px;
        width: 100%;
        margin: 0px;
    }	
    .stackDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px;    
    }
    .titleH1{
        font-size: 25px;
    }
    .Texth1{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
    .TagDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        height: auto; 
    }
    .buttonsDiv{
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
}